@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<div>
    <p>
      <i class="icon @Model.editor.icon"></i>
      <b style="text-transform: capitalize;">@Model.value.Name</b> from @Model.value.Year made in @Model.value.Origin
    </p>
</div>